*.class
*.log
.g8

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
/.docker-image-id

# Scala-IDE specific
.scala_dependencies
.worksheet
.DS_store
dev.conf.*.sw?
conf/*-dev.conf
.*.sw?
conf/dev.conf
conf/dev-env.list

.*.sw?

#vscode stuff
.vscode
.history

# mac stuff
.DS_Store
public/.DS_Store

hydra*
*timings.csv

project/target
.virtualenv
__pycache__
*.pyc
.bloop
.metals
